<div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="registerClose close">&times;</span>
        <img class="logo logoCenter" src="/logo.png"></img>
        <form class="registerlogin" action="/register" method="post">
            <div class="inputBlock">
                <label for="rusername"> Username </label></br>
                <input id="rusername" type="text" class="inputtext" name="username"></input>
            </div>
            <div class="inputBlock">
                <label for="remail"> Email Address </label></br>
                <input id="remail" type="text" class="inputtext"></input>
            </div>
            <div class="inputBlock">
                <label for="rpassword"> Password </label></br>
                <input id="rpassword" type="password" class="inputtext" name="password"></input>
            </div>
            <div class="inputBlock">
                <label for="rpassverify"> Verify Password </label></br>
                <input id="rpassverify" type="password" class="inputtext" name="verifypassword"></input>
            </div>
            <div class="bigSearchButtonCenter">
                <input type="submit" class="submitbtn" value="Submit"></input>
            </div>
        </form>
    </div>
</div>

<script>
    // Get the modal
    var registerModal = document.getElementById("registerModal");

    // Get the button that opens the modal
    var registerbtn = document.getElementById("register");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("registerClose")[0];

    // When the user clicks the button, open the modal
    registerbtn.onclick = function() {
        registerModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        registerModal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == registerModal) {
            registerModal.style.display = "none";
        }
    }

</script>
